.container {
  /* 브라우저 (=화면의 퍼센테이지
    100 vw = 화면 전체
    90vw = 화면의 90% */
  width: 50vw;
  /* 브라우저 (=화면의 퍼센테이지
    100 vh = 화면 전체
    90 vh = 화면의 90% */

  height: 50vh;
  border: 3px solid red;

  display: flex;
  /* main축 */
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.box {
  width: 10%;
  height: 10%;
  border: 2px solid black;
}
